.metadata/
RemoteSystemsTempFiles/
Servers/
TextAnalyzer/result_output.txt
TextAnalyzer/sample_tweets.txt
TextAnalyzer/sample_tweetsTest1.txt
sentiment-topic-keyword-server/.idea/
*.pyc
diskoveror/.classpath
diskoveror/.project
diskoveror/.settings/
demo-ui/node_modules/
demo-ui/public/vendor/
entity-server/.settings/
text-search-server/.settings/
text-search-server/.classpath
text-search-server/.project
demo-ui/.idea/
