<!DOCTYPE html>
<!-- Bootstrap the angular app after the Google Java Script libraries are loaded. -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Diskoveror Text Analytics</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-cosmo.css">    
    <link rel="stylesheet" href="/css/offcanvas.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta property="og:title" content="Diskoveror Text Analytics">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Diskoveror Text Analytics is a demo app that identifies and clasifies unstructured content.">
    <meta property="og:image" content="/img/CloudPlatform_logo.png">
    <meta property="og:site_name" content="Diskoveror Text Analytics">
	<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/angular.js"></script>
        
</head>

<!-- Restore the credential from cookie if stored by calling initSignInButton() -->
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img class="img-responsive" src="/img/platformlogo.png" alt=""></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('/findentity')}" ng-click="collapseNavbar()"><a href="#/demo">Demo</a></li>
                <!-- <li ng-class="{ active: isActive('/comparenlp')}" ng-click="collapseNavbar()"><a href="#/comparenlp">Compare Demo</a></li>
                <li ng-class="{ active: isActive('/findcategory')}" ng-click="collapseNavbar()"><a href="#/findcategory">Category Demo</a></li>  -->
                <li ng-class="{ active: isActive('/serendionlpdocs')}" ng-click="collapseNavbar()"><a href="#/docs" >API Documentation</a></li>
                
                <li class="nav-divider"></li>
            </ul>  
            <ul class="nav navbar-nav navbar-right">
            	<li id="goToSerendio" ><a href="https://github.com/serendio-labs/diskoveror-ta" target="_blank">GitHub</a></li>
                <li id="goToSerendio" ><a href="http://www.serendio.com/" target="_blank">Serendio</a></li>
                <li id="goToAboutSerendio" ><a href="http://www.serendio.com/about-us/#overview" target="_blank">About Serendio</a></li>
            </ul>          
        </div>
    </div>
</div>

<div class="container">
    <!-- <div class="row">
        <div class="col-lg-12">
            <div id="rootMessages" class="alert alert-{{alertStatus}}" ng-show="rootMessages">
                <span ng-bind="rootMessages"></span>
                <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-click="rootMessages = ''"
                   ng-show="rootMessages"></i>
            </div>
        </div>
    </div> -->
    <ng-view>
    
    </ng-view>
</div>

<script src="/js/lib/ui-bootstrap-tpls.js"></script>

<script src="/js/demoapp.js"></script>
<script src="/js/democontrollers.js"></script>
<script src="/js/lib/angular-route.js"></script>
    <script>        
        function init() {           
            angular.bootstrap(document, ['discoveorApp']);
            console.log("sfsdfs");
        };
        init();
    </script>

</body>
</html>
