<div>
    <div class="row">
        <div class="col-lg-12">
            <div id="messages" class="alert alert-{{alertStatus}}" ng-show="messages">
                <span ng-bind="messages"></span>
                <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-click="messages = ''"
                   ng-show="messages"></i>
            </div>            
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3>Find Entity</h3>
            <form name="entityForm" novalidate role="form" action="/api/entity/all" method="get" 
            enctype="multipart/form-data" accept="application/json">
                <div class="form-group">
                    <label for="text">Enter text to find entities </label> 
                    <textarea id="textConent" name="text" class="form-control"> </textarea>
                </div>
				<h3>OR</h3>
                <div class="form-group" >
                    <label for="file">Upload File to Parse</label>
                    <input type="file" name="file" size="45" />
                </div>                
                <input type="submit" value="Process Data" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</div>