 <md-sidenav class="md-sidenav-left md-whiteframe-z2" 
                md-component-id="left" 
                md-is-locked-open="$mdMedia('gt-sm')" style="width: 220px;">
   <md-content>
      <md-list >
          <md-list-item ng-repeat="demo in demoTypes">
              <md-button ng-click="selectDemoType(demo)" ng-class="{'selected': demo === demoSelected }">

                <h4><md-icon md-svg-icon="menu" class="avatar"></md-icon>
                    <a href="#">{{demo.name}}</a></h4>
              </md-button>
          </md-list-item>
      </md-list>
  </md-content>
</md-sidenav>