<div flex layout="row">
    <div flex="5">
        &nbsp;
    </div>
    <div flex style="font-size: 0.8em;">
        <md-content layout-padding ng-hide="isResultAvailable()">
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <form name="searchForm" ng-submit="getSearchResults(searchQuery)">
                    <md-input-container id="searchBox">
                        <label style="font-size: x-large;color:rgb(255,82,82);">Type or Paste your article here.</label>
                        <textarea ng-model="searchQuery" rows="25" md-select-on-focus
                                  style="height: 300px;!important;border-color: rgb(255,82,82);"></textarea>
                    </md-input-container>
                    <md-button class="md-raised md-primary" ng-click="getSearchResults(searchQuery)">SUBMIT
                    </md-button>
                </form>
            </section>
        </md-content>
    </div>
</div>
<div flex>
    <p style="width: 100%; text-align: left; font-size: 1.2em; " ng-show="isBeginingScreen()">
        &nbsp;
    </p>
    <p style="width: 100%; text-align: center; font-size: 1.6em; " ng-show="isQueryProcessing()">
        Please Wait ... Result are on its way ....
    </p>
    <div layout="row" ng-show="isResultAvailable()">
        <div flex="25">
            <sd-block-list-display dataobj="dataobj" ng-repeat="dataobj in entityBlocks"
                                   ng-if="displayBlock(dataobj.contents)"/>
        </div>
        <div flex>
            <md-content flex id="entityFormatedOutput">
                <p ng-bind-html="formatedResult"></p>
            </md-content>
        </div>

    </div>

    <md-button class="md-raised md-primary" ng-click="resetPage()" ng-show="isResultAvailable()">Back</md-button>
</div>




