<div flex layout="row">
    <div flex="5" >
        &nbsp;
    </div>
    <div flex>
        <md-content layout-padding ng-hide="isResultAvailable()">
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <form name="searchForm" ng-submit="getSearchResults(searchQuery)">
                    <md-input-container class="md-block" id="searchBox">
                        <label>Text Box - Type or Paste your article here.</label>
                        <textarea ng-model="searchQuery" rows="25" md-select-on-focus></textarea>
                    </md-input-container>
                   <md-button class="md-raised md-primary" ng-click="getSearchResults(searchQuery)">Find Entity's</md-button>
                </form>
            </section>
        </md-content>
    </div>
</div>
<div flex>
    <!-- Dynamic Tabbed result display. To be shown only when  -->
    <p style="width: 100%; text-align: left; font-size: 1.2em; " ng-show="isBeginingScreen()" >
        <md-list >
           Entiy extraction demo:
            <md-list-item>
                It demonstrates an implementation of a Text analysis using Stanford NLP wrapped with Serindio's improvements.
            </md-list-item>
            <md-list-item>
                We provide REST Service that can be used to extract different entities from unstructured text data.
            </md-list-item>
        </md-list>
    </p>
    <p style="width: 100%; text-align: center; font-size: 1.6em; " ng-show="isQueryProcessing()">
        Please Wait ... Result are on its way ....
    </p>
    <md-grid-list
            md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
            md-row-height-gt-md="1:1" md-row-height="2:2"
            md-gutter="12px" md-gutter-gt-sm="8px" ng-show="isResultAvailable()">
        <md-grid-tile class="gray"
                      md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
            <md-grid-tile-footer>
                <h3>#1: (3r x 2c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="green">
            <md-grid-tile-footer>
                <h3>#2: (1r x 1c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="yellow">
            <md-grid-tile-footer>
                <h3>#3: (1r x 1c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="blue"
                      md-rowspan="2">
            <md-grid-tile-footer>
                <h3>#4: (2r x 1c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="red"
                      md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
            <md-grid-tile-footer>
                <h3>#5: (2r x 2c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="green"
                      md-rowspan="2" >
            <md-grid-tile-footer>
                <h3>#6: (2r x 1c)</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
    <md-content flex id="contentTabs" ng-show="isResultAvailable()">

        Done

    </md-content>
    <md-button class="md-raised md-primary" ng-click="resetPage()" ng-show="isResultAvailable()">Back</md-button>
</div>




